/* CSS Document */
@font-face{
	font-family: Montserrat-Medium;
	src: url(static/Montserrat-Medium.ttf);
}
@font-face{
	font-family: Fraunces_144pt-Bold;
	src: url(static/Fraunces_144pt-Bold.ttf);
}
@font-face{
	font-family: Montserrat-Bold;
	src: url(static/Montserrat-Bold.ttf);
}

body{
	background-color: hsl(30, 38%, 92%);
	font-size: 14px;
	font-family: Montserrat-Medium;
}

.row{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 13%;
}

.left{
	margin-top: 2px;
}

.left .img img{
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	height: 410px;
	width: 270px;

}

.right{
	background-color: white;
	height: 410px;
	width: 270px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.right .topd{
	margin-left: 25px;
	margin-top: 20px;
	color: hsl(228, 12%, 48%);
	font-size: 11px;
}

.right .title{
	color: hsl(212, 21%, 14%);
	font-size: 2.1em;
	font-weight: bold;
	margin-left: 25px;
	margin-top: 15px;
	line-height: 30px;
	font-family: Fraunces_144pt-Bold;
}

.right .caption{
	margin-left: 25px;
	margin-top: 20px;
	color: hsl(228, 12%, 48%);
	line-height: 23px;
	font-size: 12px;
}

.right .prices{
	margin-left: 25px;
	margin-top: 25px;
}

.right .prices .price{
	color: hsl(158, 36%, 37%);
	float: left;
	font-size: 2em;
	font-family: Fraunces_144pt-Bold;
}

.right .prices .offprice{
	margin-left: 120px;
	margin-top: 7px;
	color: hsl(228, 12%, 48%);
	font-size: .9em;
}

.right .butclick{
	background-color: hsl(158, 36%, 37%);
	color: hsl(0, 0%, 100%);
	width: 80%;
	margin-left: 25px;
	margin-bottom: 20px;
	height: 42px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	margin-top: 20px;
	font-size: 12px;
	font-family: Montserrat-Bold;
}

.right .butclick:hover{
	background-color: hsl(158, 36%, 19%);
	cursor: pointer;
}