/* CSS Document */
@font-face{
	font-family: Montserrat-Medium;
	src: url(static/Montserrat-Medium.ttf);
}
@font-face{
	font-family: Fraunces_144pt-Bold;
	src: url(static/Fraunces_144pt-Bold.ttf);
}
@font-face{
	font-family: Montserrat-Bold;
	src: url(static/Montserrat-Bold.ttf);
}

body{
	background-color: var(--clrCream);
	font-size: 14px;
	font-family: Montserrat-Medium;
	height: 637px;
	width: 100%;
	min-height: 100vh;
    display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

:root{
	--clrCream: hsl(30, 38%, 92%);
	--clrDarkCyan: hsl(158, 36%, 37%);
	--clrVeryDarkBlue: hsl(212, 21%, 14%);
	--clrDarkGrayishBlue: hsl(228, 12%, 48%);
	--clrWhite: hsl(0, 0%, 100%);
}

.row{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 600px;
	height: 450px;
}

.left img{
	height: 450px;
	border-radius: 10px 0 0 10px;
}

.right{
	background-color: var(--clrWhite);
	border-radius: 0 10px 10px 0;
	padding: 30px;
	box-sizing: border-box;
}

.right .topd{
	color: var(--clrDarkGrayishBlue);
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 5px;
}

.right h1{
	color: var(--clrVeryDarkBlue);
	font-size: 2.5em;
	font-family: Fraunces_144pt-Bold;
	line-height: 35px;
}

.right .caption{
	margin-top: 5px;
	color: var(--clrDarkGrayishBlue);
	line-height: 23px;
}

.right .prices{
	margin: 25px 0px 25px 0px;
	display: flex;
	align-items: center;
}

.right .prices .price{
	color: var(--clrDarkCyan);
	float: left;
	font-size: 2.3em;
	font-family: Fraunces_144pt-Bold;
	font-weight: 700;
}

.right .prices .offprice{
	margin-left: 20px;
	color: var(--clrDarkGrayishBlue);
	font-size: .9em;
}

.right button{
	background-color: var(--clrDarkCyan);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	width: 100%;
}

.right .but{
	color: var(--clrWhite);
	font-family: Montserrat-Bold;
}

.right button:hover{
	background-color: hsl(158, 36%, 19%);
	cursor: pointer;
}

@media screen and (max-width: 630px){
	.row{
		flex-direction: column;
		width: 350px;
		height: 625px;
	}
	.left{
		position: relative;
		top: 3px;
	}

	.left img{
		width: 350px;
		height: 250px;
		border-radius: 10px 10px 0 0;
	}

	.right{
		height: 380px;
		width: 350px;	
		padding: 20px;
		border-radius: 0 0 10px 10px;
	}

	.right .prices{
		margin: 15px 0 20px 0;
	}

	.right .prices .price{
		font-size: 2.1em;
	}
	
	.right .topd{
		font-size: 14px;
		margin-bottom: 0;
	}
	
	.right h1{
		font-size: 2.5em;
		margin: 19px 0 15px 0;
	}

	.right .caption{
		font-size: 14px;
		line-height: 2.1em;
		margin: 0;
	}

	.right .prices .offprice{
		margin-left: 10px;
		font-size: .8em;
	}
}

@media screen and (max-width: 430px){
	.left img{
		width: 270px;
		height: 180px;
	}

	.right{
		height: 300px;
		width: 270px;	
	}

	.right .prices{
		margin: 10px 0 15px 0;
	}

	.right .prices .price{
		font-size: 1.7em;
	}
	
	.right .topd{
		font-size: 12px;
	}
	
	.right h1{
		font-size: 1.8em;
		margin: 10px 0 8px 0;
		line-height: 30px;
	}

	.right .caption{
		font-size: 12px;
		line-height: 1.5em;
	}
}
	